doctype html
html(lang='en')
	head
		meta(charset='utf-8')
		meta(name='viewport', content='width=device-width, initial-scale=1.0')
		title= title
		link(type='text/css', rel='stylesheet', href='/stylesheets/style.css')
		link(type='text/css', rel='stylesheet', href='/stylesheets/angular-material.min.css')
		link(href="/stylesheets/bootstrap.min.css", rel="stylesheet")
		script(type='text/javascript', src='/javascripts/lib/jquery.min.js')
		script(type='text/javascript', src='/javascripts/lib/angular.min.js')
		script(type='text/javascript', src='/javascripts/lib/angular-route.min.js')
		script(type='text/javascript', src='/javascripts/lib/ngStorage.min.js')
		script(type='text/javascript', src='/javascripts/lib/angular-messages.min.js')
		script(type='text/javascript', src='/javascripts/lib/angular-animate.min.js')
		script(type='text/javascript', src='/javascripts/lib/angular-aria.min.js')
		script(type='text/javascript', src='/javascripts/lib/angular-material.min.js')
		script(type='text/javascript', src='/javascripts/app.js')
		script(type='text/javascript', src='/javascripts/controllers.js')
		script(type='text/javascript', src='/javascripts/lib/bootstrap.min.js')
	body(ng-app="myApp")
		<md-toolbar class="md-primary md-hue-2" ng-controller="dummyController"><div class="md-toolbar-tools md-padding"><h1 onclick="window.location = '/#/';" style="cursor: pointer; margin-left: 20px;"><span>Twist</span></h1><span flex></span><h3 ng-show="authenticated" style="font-weight: 100;">Welcome, {{currentUser.userid}}</h3><md-button ng-href="/#/login" ng-hide="authenticated">Login</md-button><md-button ng-href="/#/signup" ng-hide="authenticated">Signup</md-button></div></md-toolbar>

		md-content(ng-view)
			