<!-- <div class="row" style="margin-top: 200px;">
	<div class="col-md-4 col-md-offset-4 col-sm-6 col-sm-offset-3 col-xs-8 col-xs-offset-2" style="border: 1px solid #ccc; border-radius: 4px; padding-bottom: 30px;">
		<h1 style="font-weight: bold;">Login</h1>
		<form style="background: white;" ng-submit="login()">
			<h5 style="color: red;"> {{errorMessage}} </h5>
			<div class="form-group">
				<label>Username</label>
				<input type="text" class="form-control" placeholder="Username" required ng-model="user.username">
			</div>
			<div class="form-group">
				<label>Password</label>
				<input type="password" class="form-control" placeholder="Password" required ng-model="user.password">
			</div>
			<input type="submit" class="btn btn-submit" value="Login">
		</form>
	</div>
</div>
 -->
<div layout="row" layout-wrap layout-align="center center" layout-padding>
	<div flex-xs="80" flex-sm="80" flex-gt-sm="30" style="margin-top: 150px;">
		<form name="loginform">
			<md-card class="md-padding">
				<h2>Login</h2>
				<md-input-container>
					<label>Username</label>
					<input name="username" type="text" ng-model="user.username" required>
					<div ng-messages="loginform.username.$error">
						<div ng-message="required">Username, brah?</div>
					</div>
				</md-input-container>
				<md-input-container>
					<label>Password</label>
					<input name="password" type="password" ng-model="user.password" required>
					<div ng-messages="loginform.password.$error">
						<div ng-message="required">Brah? Password, brah!</div>
					</div>
				</md-input-container>
				<div><md-button class="md-primary md-raised" ng-click="login()">Login</md-button></div>	
			</md-card>	
		</form>
	</div>
</div>
