<div layout="row" layout-gt-sm="row" style="height: 100%;">
	<div layout="row" flex layout-align="center center"  ng-hide="display" style="margin-top: 100px;">
		<div flex-xs="50" flex-sm="50" flex-gt-sm="50">
			<form name="introdetails">
				<md-card class="md-padding">
					<md-input-container>
						<label>Give your story a title</label>
						<input type="text" ng-model="intro.title" name="introtitle" required="">
						<div ng-messages="introdetails.introtitle.$error">
							<div ng-message="required"><p>Story requires a title</p></div>
						</div>
					</md-input-container>
					<md-input-container>
						<label>A little description for your story</label>
						<textarea name="introdescription" rows="5" ng-model="intro.desc" required></textarea>
						<div ng-messages="introdetails.introdescription.$error">
							<div ng-message="required">Story requires a description</div>
						</div>
					</md-input-container>
					<div>
						<md-button class="md-primary md-raised" ng-click="setIntro()">Start writing</md-button>
					</div>		
				</md-card>
			</form>
		</div>	
	</div>
	
	<div layout="row" flex layout-align="space-between" ng-show="display">
		<md-sidenav class="md-padding md-sidenav-left" md-is-locked-open="true" md-component-id="left" md-whiteframe="4" style="height: 100%; padding-top: 250px;" flex="20">
			<div>
				<md-button class="md-raised md-primary" ng-click="newSave()">Save</md-button>
			</div>
			<h2>Add Continuation to</h2>
			<select class="form-control" ng-model="selectedItem" ng-options="section.title for section in sections | orderBy : section.section_id : true" id="selector">
            </select>
			<div>
				<md-button class="md-raised md-accent" ng-click="newAdd()">Add</md-button>
			</div>
		</md-sidenav>	
		<md-card class="md-padding" flex="80">
			<div layout="column" layout-wrap flex>
				<h1> Section {{section_counter}}: Continued from {{new_continued_from}} </h1>
				<div flex="15">
					<md-input-container style="width: 100%;">
						<label>Title</label>
						<input type="text" ng-model="newEntry.title">
					</md-input-container>						
				</div>
				<div flex="15">
					<md-input-container style="width: 100%;">
						<label>Description</label>
						<input type="text" ng-model="newEntry.desc">
					</md-input-container>	
				</div>
				<div flex="15">
					<md-input-container style="width: 100%;">
						<label>What happens now?</label>
						<textarea rows="15" ng-model="newEntry.body"></textarea>
					</md-input-container>	
				</div>
				
			</div>
			<div layout="column" layout-wrap flex>
				<div flex ng-repeat="entry in entries">
					<h2> {{entry.title}}: Continued from <span id="spanbind" binder> {{continued_from}} </span> </h2>
					<p> {{entry.disc}} </p>
					<h3> {{entry.body}} </h3>	
				</div>
			</div>
		</md-card>
	</div>
</div>